.btn {
  margin-left: 20px;
}

.center {
  text-align: center;
}

.topic {
  font-weight: bold;
  background-color: var(--ifm-table-stripe-background);
}

.checkboxLabel {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkboxLabel::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox:checked + .checkboxLabel::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked) + .checkboxLabel:hover::before {
  border-color: blue;
}

.checkbox:not(:disabled):active + .checkboxLabel::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.checkbox:focus + .checkboxLabel::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkbox:focus:not(:checked) + .checkboxLabel::before {
  border-color: #80bdff;
}

.checkbox:disabled + .checkboxLabel::before {
  background-color: #e9ecef;
}

.title {
  margin-left: 25px;
  margin-right: 25px;
}

.main {
  display: flex;
  justify-content: center;
}

.hideBtn {
  width: 100%;
  height: max-content;
}

.gradeContainer {
  margin-top: 15px;
}

.gradeTable {
  display: flex;
  margin-bottom: 15px;
}

.grade {
  width: 150px;
  text-align: center;
}

.danger {
  color: red;
}

.success {
  color: darkgreen;
}

.table {
  margin-bottom: 0;
}

.table tr:nth-child(2n) {
  background-color: transparent;
}
